<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by yaoandy107 on 1/30/19 1:59 PM.
  ~ Last modified 1/30/19 1:59 PM.
  ~ Copyright (c) 2019. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.blackmaple.tat">

    <application
        android:name="me.blackmaple.tat.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.blackmaple.tat.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>